{% extends 'base.html' %}

{% block content %}

<div class="album py-5 bg-light">
  <div class="container">
  <div class="row">
    {% for job in jobs.all %}

      <div class="col-md-4">
        <a href="{% url 'detail' job.id %}">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ job.image.url }}">
            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
            </div>
          </div>
        </a>
      </div>

    {% endfor %}
  </div>
</div>
</div>

{% endblock %}
