{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Job Detail</h1>
          <p class="lead text-muted">{{ job.summary }}</p>
          <img src="{{ job.image.url }}" height="300" />
          <p>
            <a href="{% url 'port_list' %}" class="btn btn-primary my-2">Back</a>
          </p>
        </div>
      </section>

    </main><!-- /.main -->
    {% endblock %}